---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Docs">
    <nav class="fixed top-0 left-0 right-0 z-50 backdrop-blur-[.2rem] h-[6.5rem] text-white overflow-hidden	">
        <a href='https://github.com/FlyNightSky/cognet'><img src="github.svg" alt="githubLogo" class="float-right mt-7 mx-4 w-12" id="github"></a>
        <a href="./proxys" class="text-white float-right mt-10 pl-5 pr-2 hover:text-primary">Proxys</a>
        <a href="./docs" class="text-white float-right mt-10 hover:text-primary">Docs</a>
        <a href="./"><img src="/logo.png" alt="logo"class="w-24 pb-5 pt-5 px-3" id="logo"></a>
    </nav>

    <div class="grid h-screen place-items-center text-white text-1xl lg:text-2xl xl:text-2xl">
        Hello User!, This Page is not yet finished :(<br><br>
    </div>


</Layout>

<style>
    html,body{
        background-color: black;
        font-family:Poppins;
        font-weight: bold;
    
    }
</style>