---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Docs">
    <nav class="fixed top-0 left-0 right-0 z-50 backdrop-blur-[.2rem] h-[6.5rem] text-white overflow-hidden	">
        <a href='https://github.com/FlyNightSky/cognet'><h1 class="absolute mt-[3rem] ml-[6rem] text-primary text-1xl lg:text-2xl xl:text-2xl">Docs</h1><img src="github.svg" alt="githubLogo" class="float-right mt-7 mx-4 w-12" id="github"></a>
        <a href="./proxys" class="text-white float-right mt-10 pl-5 pr-2 hover:text-primary">Proxys</a>
        <a href="./docs" class="text-white float-right mt-10 hover:text-primary">Docs</a>
        <a href="./"><img src="/logo.png" alt="logo"class="w-24 pb-5 pt-5 px-3" id="logo"></a>
    </nav>

   

  <div class="mx-auto w-full mt-[8rem] text-white text-1xl ">
    <p class="w-max-xl w-[45rem] text-[1.27rem] absolute ml-[25%] hidden xl:block lg:block ">
Welcome,<br><br>
Lunar Soft is dedicated to empowering individuals like you by putting an end to internet censorship. We understand the importance of unrestricted access to information and strive to make your online experience better through our exceptional services.<br><br>
At Lunar Soft, we believe in transparency and knowledge sharing. If you're eager to learn more or have any specific questions, we invite you to explore our extensive documentation or engage with our community of developers on our vibrant Discord server!<br><br>
Contributing to the Docs:<br><br>
We value the input of our community and encourage everyone to contribute to our documentation. Just as contributing to Lunar Soft is effortless, contributing to the docs is equally straightforward. You can easily make a difference by visiting our official repository and sharing your knowledge, insights, or suggestions with us.<br><br>
By working together, we can build a comprehensive knowledge base that empowers individuals and helps create a more open and accessible internet for all. Join us in our mission to make the online world a freer and more inclusive space.
    </p>

    <p class="w-[45rem] absolute ml-[25%] block xl:hidden lg:hidden">
    Welcome,<br><br>
Lunar Soft that works to end internet censorship for people like you! We're ready to make you experience better with our services<br><br>

If you want to know more or if there's something specific you want to learn about, browse through the docs or ask our developers something on our community Discord server!<br><br>

Contributing to the Docs​:<br><br>

It's simple and easy to contribute to the documentation- just as easy as it is to contribute to Lunar Soft! To contribute to the docs, go to the official repository.
    </p>
      <div class="bg-primary w-60 ml-5 rounded-lg shadow-lg mb-6 opacity-90 hover:opacity-100	">
      <div class="p-2">
        <h2 class="text-xl font-bold text-white">‎ ‎ ‎Introduction</h2>
      </div>
    </div>

    <div class="bg-primary w-60 rounded-lg shadow-lg mb-6 ml-5 opacity-90 hover:opacity-100	">
      <div class="p-2">
        <h2 class="text-xl text-white font-bold">‎ ‎Getting Started</h2>
      </div>
    </div>

    <div class="bg-primary w-60 rounded-lg shadow-lg mb-6 ml-5 opacity-90 hover:opacity-100	">
    <a onclick="#" class="inline-flex items-center px-3 py-2 ">
                  <h2 class="text-xl text-white font-bold ">‎ API Reference‎ ‎ ‎ ‎ </h2>

           <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-white w-6 h-6 stroke-[3px]">
  <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
        </a>
      

      </div>
    </div>

    <div class="bg-primary w-60 rounded-lg shadow-lg ml-5 opacity-90 hover:opacity-100">
      <div class="p-2">
        <h2 class="text-xl text-white font-bold">‎ Examples</h2>
      </div>
    </div>

  </div>



</Layout>

<style>
    html,body{
        background-color: black;
        font-family:Poppins;
        font-weight: bold;
    
    }

    .btn1{
		@apply p-2 mt-5 bg-docsRed rounded-t-lg rounded-l-lg rounded-r-lg  shadow-secondary-200 hover:opacity-75 shadow-lg lg:p-3 md:p-3 xl:p-3;
	}
</style>
