---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Lunar Soft">
	<nav class=" text-white z-50">
		<a href='https://github.com/FlyNightSky/Lunar-Soft'><img src="github.svg" alt="githubLogo" class="float-right mt-7 mx-4 w-12" id="github"></a>
		<a class="text-white float-right mt-10 pl-5 pr-2 hover:text-primary">Proxys</a>
		<a class="text-white float-right mt-10 hover:text-primary">Docs</a>
		<img src="/logo.svg" alt="logo"class="w-28 p-2" id="logo">

	</nav>
</Layout>

<style>
	html,body{
		background-color: black;
		font-family: Poppins;
		font-weight: bold;
	}

	a:hover{
		cursor: pointer;
	}

	#logo{
		transition: transform 1s;
	}

	#logo:hover{
		transform: rotate(90deg);
	}

	#github:hover{
		cursor:pointer;
	}


</style>

