---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Cognet">
	<nav class="fixed top-0 left-0 right-0 z-50 backdrop-blur-[.2rem] h-[6.5rem] text-white overflow-hidden	">
  <a href='https://github.com/FlyNightSky/cognet'><img src="github.svg" alt="githubLogo" class="float-right mt-7 mx-4 w-12" id="github"></a>
  <a class="text-white float-right mt-10 pl-5 pr-2 hover:text-primary">Proxys</a>
  <a class="text-white float-right mt-10 hover:text-primary">Docs</a>
  <a href="cognet.vercel.app"><img src="/logo.png" alt="logo"class="w-24 pb-5 pt-5 px-3" id="logo"></a>
</nav>

	<div class="flex justify-center pt-[8rem]">
		<h1 class="text-primary text-3xl h-6">Cognet</h1>
		<h1 class="text-slate-500 text-1xl my-9 mr-3 float-left absolute">Proxy Service</h1>
	</div>

	<div class="flex text-white justify-center text-1xl lg:justify-start ">
	
	
	<div class="text-center lg:w-[35rem] relative ">
    <p class="pt-2 px-10 xl:text-2xl lg:text-2xl z-10">
		<br>
		<br>
      Cognet, A Service that creates and shares proxies for people.<br><br>
      Our motive for this is to end internet censorship for people like you.
    </p>
		
		
	<button class="btn1" onclick="window.open('https://cognet.vercel.app/docs','_self')"> Get Started </button>
		</div>

		<div class=" flex justify-center mt-[15rem] absolute lg:left-3/4 xl-left-3/4 lg:mt-[.5rem] absolute z-0">
		
  <img src="/img1.svg" class="w-80 z-0 py-1 xl:justify-end lg:justify-end">

</div>

		
			
</div>
<div class="flex text-white sm:justify-center mt-[28rem] text-2xl lg:mt-[13rem] xl:mt-[13rem]">
<h1 class="lg:text-3xl lg:text-2xl">Privacy</h1>
	<div>
		<img src="/img2.svg" class="w-[20rem]">
		<div class="blur-[87px]">
		<div class="flex items-center justify-center py-24 flex bg-green-500 absolute">
		 <div class="w-52 h-52 bg-darkPurple rounded-full absolute ml-[10rem]"></div>
   <div class="w-52 h-52 bg-lightBlue rounded-full absolute mt-[5em] ml-[5rem]"></div>
	    <div class="w-52 h-52 bg-lightRed rounded-full absolute pl-16 mr-[1em]"></div>
			</div>

</div>
	</div>

</div>

<footer class="mt-[100%]">
<div class="blur-[87px]">
		<div class="flex items-center justify-center py-24 flex bg-green-500 absolute">
		 <div class="w-52 h-52 bg-darkPurple rounded-full absolute ml-[10rem]"></div>
   <div class="w-52 h-52 bg-lightBlue rounded-full absolute mt-[5em] ml-[5rem]"></div>
	    <div class="w-52 h-52 bg-lightRed rounded-full absolute pl-16 mr-[1em]"></div>
			</div>

</div>
</footer>
</Layout>

<style>
	html,body{
		background-color: black;
		font-family: Poppins;
		font-weight: bold;
	}

	a:hover{
		cursor: pointer;
	}

	#logo{
		transition: transform 1s;
	}

	#logo:hover{
		transform: rotate(-5deg);
	}

	#github:hover{
		cursor:pointer;
	}

	.btn1{
		@apply p-2 mt-5 bg-primary rounded-t-lg rounded-l-lg rounded-r-lg  shadow-secondary-200 hover:opacity-75 shadow-lg lg:p-3 md:p-3 xl:p-3;
	}

	


</style>

