---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Cognet">
<audio id="my_audio" src="/bg.mp3" loop="loop"></audio>
	<nav class="fixed top-0 left-0 right-0 z-50 backdrop-blur-[.2rem] h-[6.5rem] text-white overflow-hidden	">
  <a href='https://github.com/FlyNightSky/cognet'><img src="github.svg" alt="githubLogo" class="float-right mt-7 mx-4 w-12" id="github"></a>
  <a class="text-white float-right mt-10 pl-5 pr-2 hover:text-primary">Proxys</a>
  <a class="text-white float-right mt-10 hover:text-primary">Docs</a>
  <a href="cognet.vercel.app"><img src="/logo.png" alt="logo"class="w-24 pb-5 pt-5 px-3" id="logo"></a>
</nav>

	<div class="flex justify-center pt-[8rem]">
		<h1 class="text-primary text-3xl h-6">Cognet</h1>
		<h1 class="text-slate-500 text-1xl my-9 mr-3 float-left absolute">Proxy Service</h1>
	</div>

	<div class="flex text-white justify-center text-1xl lg:justify-start ">
	
	
	<div class="text-center lg:w-[35rem] relative ">
    <p class="pt-2 px-10 xl:text-2xl lg:text-2xl z-10">
		<br>
		<br>
      Cognet, A Service that creates and shares proxies for people.<br><br>
      Our motive for this is to end internet censorship for people like you.
    </p>
		
		
	<button class="btn1" onclick="window.open('https://cognet.vercel.app/docs','_self')"> Get Started </button>
		</div>

		<div class=" flex justify-center mt-[15rem] absolute lg:left-3/4 xl-left-3/4 lg:mt-[.5rem] absolute z-0">
		
  <img src="/img1.svg" class="w-80 z-0 py-1 xl:justify-end lg:justify-end">

</div>

		
			
</div>
<div class="flex text-white justify-center mt-[28rem] text-2xl lg:mt-[13rem] xl:mt-[13rem]">
<h1 class="lg:text-3xl absolute">Privacy</h1>
	<div class="privacy1">
		<p class="privacy2">
		Our Main goal with Lunar Soft  is to bring you privacy on the  internet. hence, <br><br>

Lunar-Soft will NOT do any of the following:<br> 
1. check browsing history<br>
2. blocking sites<br>
3. Take or sell any info about you<br>
4. Anything that evades you privacy<br>
		</p>
		<img src="/img2.svg" class="hidden w-[20rem] xl:ml-[10%] lg:ml-[10%] lg:block xl:block">

	</div>

</div>
	</div>

</div>
<div class=" ml-[15%] border-b-2 border-[#FFFFFF] mt-[18rem] opacity-50	w-[70%] lg:mt-[40%] xl:mt-[40%]">
		
</div>

<div class="flex justify-center text-white relative">

	<h1 class="text-1xl text-primary pt-[4rem] lg:text-3xl xl:text-3xl xl:pt-[3rem] lg:pt-[3rem] absolute"> Help Contribute to Lunar Soft!
	<h1>
	<p class="block pt-5 px-2 w-fit text-1xl mt-[8rem] text-center w-[20%] lg:px-5 xl:px-5 lg:hidden xl:hidden">
				Join these of people to help contribute to our service!<br><br>

You even get perks when you contribute such as a discord role and much more!<br>
			<a class="privacybtn" href="https://github.com/FlyNightSky"><button onclick="window.open('https://github.com/FlyNightSky','_self')" class="pt-5"> Contribute</button></a>

			</p>
	<div class="absolute mt-[10rem] text-white lg:mt-[10%] xl:mt-[10%] ">
	<div class=" hidden border-l-[.1rem] h-[18rem] border-[#FFFFFF] lg:h-[25rem] xl:h-[25rem] text-white text-center lg:block xl:block"> 
	<p class=" hidden pt-5 px-2 w-fit text-1xl lg:pt-16 xl:pt-16 lg:text-2xl xl:text-2xl lg:w-[33rem] xl:w-[33rem] lg:px-5 xl:px-5 lg:block xl:block">
				Join these of people to help contribute to our service!<br><br>

You even get perks when you contribute such as a discord role and much more!<br>
			<a class="privacybtn"><button class="pt-5"> Contribute</button></a>

			</p>	
	</div>
	</div>
</div>
<div class=" hidden text-white rounded-full mt-[10%] ml-[15rem] lg:block xl:block">
	<a src="https://github.com/FlyNightSky"><img src="https://avatars.githubusercontent.com/u/118761018?v=4" alt="FlyNightSky" class="rounded-full w-20" ></a>
	</div>



<footer class="mt-[100%] pt-[10rem] flex justify-center text-white">

hello
<div class="blur-[87px]">
		<div class="flex items-center justify-center py-24 flex bg-green-500 absolute">
		 <div class="w-52 h-52 bg-darkPurple rounded-full absolute ml-[10rem]"></div>
   <div class="w-52 h-52 bg-lightBlue rounded-full absolute mt-[5em] ml-[5rem]"></div>
	    <div class="w-52 h-52 bg-lightRed rounded-full absolute pl-16 mr-[1em]"></div>
			</div>

</div>
</footer>
<script>
playMusic()
window.onload = function playMusic() {
    document.getElementById("my_audio").play();
}

</script>
<script src="../Scripts/music.js"></script>
</Layout>

<style>
	html,body{
		background-color: black;
		font-family: Poppins;
		font-weight: bold;
	}

	a:hover{
		cursor: pointer;
	}

	#logo{
		transition: transform 1s;
	}

	#logo:hover{
		transform: rotate(-5deg);
	}

	#github:hover{
		cursor:pointer;
	}

	.btn1{
		@apply p-2 mt-5 bg-primary rounded-t-lg rounded-l-lg rounded-r-lg  shadow-secondary-200 hover:opacity-75 shadow-lg lg:p-3 md:p-3 xl:p-3;
	}

	.privacybtn{
		@apply p-3 mt-[1rem] bg-primary rounded-full shadow-secondary-200 hover:opacity-75 shadow-lg ;
	}

	.privacy1{
	@apply flex justify-center absolute xl:justify-normal lg:justify-normal lg:mr-[70%] xl:mr-[70%] lg:mt-[5rem] xl:mt-[5rem];
	}

	.privacy2{
		@apply text-center absolute text-sm w-[23rem] mb-[10%] mt-[5rem] lg:w-[25rem] xl:w-[35rem] lg:text-lg xl:text-lg lg:mt-[5rem] xl:mt-[5rem] lg:ml-[180%] xl:ml-[180%];
	}
	


</style>

