---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Lunar Soft">
	<nav class=" text-white z-50">
		<a href='https://github.com/FlyNightSky/Lunar-Soft'><img src="github.svg" alt="githubLogo" class="float-right mt-7 mx-4 w-12" id="github"></a>
		<a class="text-white float-right mt-10 pl-5 pr-2 hover:text-primary">Proxys</a>
		<a class="text-white float-right mt-10 hover:text-primary">Docs</a>
		<img src="/logo.svg" alt="logo"class="w-28 p-2" id="logo">
	</nav>
	<div class="flex justify-center">
		<h1 class="text-primary text-3xl h-6">Lunar Soft</h1>
		<h1 class="text-slate-500 text-1xl my-9 mr-3 float-left absolute">Proxy Service</h1>
	</div>

	<div class="flex text-white justify-center text-1xl lg:justify-start">
	<div class="text-center lg:w-[35rem]  ">
    <p class="pt-2 px-10 xl:text-2xl lg:text-2xl">
		<br>
		<br>
      Lunar Soft, A Service that creates and shares proxies for people.<br><br>
      Our motive for this is to end internet censorship for people like you.
    </p>
		
	<button class="btn1" onclick="www.google.com"> Get Started </button>
		</div>
  
</div>
</Layout>

<style>
	html,body{
		background-color: black;
		font-family: Poppins;
		font-weight: bold;
	}

	a:hover{
		cursor: pointer;
	}

	#logo{
		transition: transform 1s;
	}

	#logo:hover{
		transform: rotate(90deg);
	}

	#github:hover{
		cursor:pointer;
	}

	.btn1{
		@apply p-2 mt-5 bg-primary rounded-t-lg rounded-l-lg rounded-r-lg  shadow-secondary-200 hover:opacity-75 shadow-lg lg:p-3 md:p-3 xl:p-3;
	}


</style>

