---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Lunar-Soft">
	<nav class="inset-y-0 text-white">
		<img src="/logo.svg" alt="logo"class="w-28 sm:8 md:16 lg:w-40">
	</nav>
</Layout>

<style>
	html,body{
		background-color: black;
		font-family: Poppins;
	}
</style>

