---
  import Layout from '../layouts/Layout.astro';
  import Card from '../components/Card.astro'
---

  <Layout title="Proxys">
  <nav class="fixed top-0 left-0 right-0 z-50 backdrop-blur-[.2rem] h-[6.5rem] text-white overflow-hidden	">
  <a href='https://github.com/Cognet-Network/Cognet'><img src="github.svg" alt="githubLogo" class="float-right mt-7 mx-4 w-12" id="github"></a>
  <a href="./proxys" class="text-white float-right mt-10 pl-5 pr-2 hover:text-primary">Proxys</a>
  <a href="./docs" class="text-white float-right mt-10 hover:text-primary">Docs</a>
  <a href="./"><img src="/logo.png" alt="logo"class="w-24 pb-5 pt-5 px-3" id="logo"></a>
</nav>
      <h1 class="flex justify-center mt-[10rem] text-1xl text-primary lg:text-2xl xl:text-2xl">Proxys</h1>
      <div class="flex justify-center">
      <h1 class="  text-slate-500 text-1xl mr-3 float-left absolute">Page Were you can find all our proxys!</h1>
      </div>
      
    <div class="grid flex justify-center absolute h-screen w-full text-white mt-[5rem] xl:grid-cols-4 gap-1 lg:grid-cols-4 gap-1">
    

      <Card
      img="/banner1.svg",
      body="Use Linux proxy right away to access a website proxy that is very simplistic and runs Holy Unblocker!",
      title="Linux",
      by="Detox Network",
      open="console.log('true'); var url = 'https://linuxtutors.xyz/';var win = window.open();win.document.body.style.margin = '0';win.document.body.style.height = '100vh';win.document.title = 'Proxy';var iframe = win.document.createElement('iframe');iframe.style.border = 'none';iframe.style.width = '100%';iframe.style.height = '100%';iframe.style.margin = '0';iframe.src = url;win.document.body.appendChild(iframe);"
      />

        <Card
      img="/banner1.svg",
      body="Use Velocity proxy right away to access a website proxy that is very simplistic and runs on hammer head to the point!",
      title="Velocity Proxy",
      by="Detox Network",
      open="console.log('true'); var url = 'https://velocity.radon.games/';var win = window.open();win.document.body.style.margin = '0';win.document.body.style.height = '100vh';win.document.title = 'Proxy';var iframe = win.document.createElement('iframe');iframe.style.border = 'none';iframe.style.width = '100%';iframe.style.height = '100%';iframe.style.margin = '0';iframe.src = url;win.document.body.appendChild(iframe);"
      />

       <Card
      img="/banner1.svg",
      body="Use 360 proxy right away to access a website proxy that is very simplistic and runs on UV to the point!",
      title="360 Proxy",
      by="Detox Network",
      id="360"
      />

      <Card
      img="/banner1.svg",
      body="Use v89 proxy right away to access a website proxy that is very simplistic and runs on Incognito to the point!",
      title="v89 Proxy",
      by="Detox Network",
      id="v89"
      />

      <Card
      img="/banner1.svg",
      body="Use v89 proxy right away to access a website proxy that is very simplistic and runs on Incognito to the point!",
      title="v89 Proxy",
      by="Detox Network",
      id="v89"
      />

      

      
        
    </div>
  


  </Layout>

  <style>
	html,body{
		background-color: black;
		font-family: Poppins;
		font-weight: bold;
	}
  </style>
