---
  import Layout from '../layouts/Layout.astro';
---

  <Layout title="Proxys">
  <nav class="fixed top-0 left-0 right-0 z-50 backdrop-blur-[.2rem] h-[6.5rem] text-white overflow-hidden	">
  <a href='https://github.com/FlyNightSky/cognet'><img src="github.svg" alt="githubLogo" class="float-right mt-7 mx-4 w-12" id="github"></a>
  <a href="./proxys" class="text-white float-right mt-10 pl-5 pr-2 hover:text-primary">Proxys</a>
  <a href="./docs" class="text-white float-right mt-10 hover:text-primary">Docs</a>
  <a href="cognet.vercel.app"><img src="/logo.png" alt="logo"class="w-24 pb-5 pt-5 px-3" id="logo"></a>
</nav>
      <h1 class="flex justify-center mt-[10rem] text-1xl text-primary lg:text-2xl xl:text-2xl">Proxys</h1>
      <div class="flex justify-center">
      <h1 class="  text-slate-500 text-1xl mr-3 float-left absolute">Page Were you can find all our proxys!</h1>
      </div>
      

   <div class="ml-[.5rem] mt-[2rem] max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mr-[.5rem] lg:ml-[2rem] xl:ml-[2rem]">
    <a href="">
        <img class="rounded-t-lg" src="/banner1.svg" alt="" />
    </a>
    <div class="p-5">
        <a href="">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Test</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Test</p>
        <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Go to
            <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </a>
    </div>
</div>


  </Layout>

  <style>
	html,body{
		background-color: black;
		font-family: Poppins;
		font-weight: bold;
	}
  </style>